# ==========================================
# SZERVER MONITORING KONFIGURÁCIÓ
# ==========================================

# Mintavételezési gyakoriság másodpercben
CHECK_INTERVAL=3

# Küszöbértékek százalékban (0 - 100)
# Ha a mért érték eléri vagy meghaladja, riasztás indul
CPU_THRESHOLD=85.0
RAM_THRESHOLD=90.0
DISK_THRESHOLD=90.0

# Spam-védelem: hány másodperc teljen el két riasztás között
# metrikánként (alapértelmezetten 300 mp = 5 perc)
ALERT_COOLDOWN=300

# ------------------------------------------
# ÉRTESÍTÉSI CSATORNÁK (Opcionális)
# Hagyd üresen azt, amit nem használsz
# ------------------------------------------

# Discord Webhook URL (Csatorna beállítások -> Integrációk -> Webhook létrehozása)
DISCORD_WEBHOOK_URL="https://discord.com/api/webhooks/1557116242962419824/JCX-N4kHCAl7QgWCemFRF_7WYL4J4ti1CVopRAlmJ3ceSj2FPqieEt190qGdZlh-OWWu"

# Telegram Bot adatai (@BotFather által adott token és a saját Chat ID)
TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHAT_ID=""

# ------------------------------------------
# DOCKER MODUL (Opcionális)
# true = figyeli a futó konténereket a sock-on keresztül
# false = kikapcsolva
# ------------------------------------------
ENABLE_DOCKER=false